<!DOCTYPE html>
<html>
<head>
  <title>Informaticos sin Fronteras</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">
		<div class="inner">
			<div class="row">
				<div class="span4">
					<div id="logo">
						<h1>Informáticos sin Fronteras</h1>
					</div>
				</div>
				<div class="span8">
					<div class="navbar">
				          <div class="nav-collapse collapse">
				            <ul class="nav menu-top">
				              <li class="active"><a href="#">Home</a></li>
				              <li><a href="#about">Proyectos</a></li>
				              <li><a href="#contact">Contactos</a></li>
				              <li><a href="#about">Proyectos</a></li>
				              <li><a href="#contact">Contactos</a></li>
				              <li><a href="#about">Proyectos</a></li>
				            </ul>
				          </div><!--/.nav-collapse -->
				    </div>
				</div>
			</div>
		</div><!-- /inner -->
	</header>
	<div class="container">
		<%= yield %>	
	</div>
</body>

<script type="text/javascript">
	$('#carousel').elastislide({
		imageW 	: 180,
		minItems	: 5
	});
	
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
    })
</script>
</html>
